* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#line1 {
    height: 90%;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#largeScrolls {
    height: 100%;
    width: 60%;
    background-color: blue;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.largeScroll {
    height: 95%;
    width: 96px;
    background-color: aqua;
    box-shadow: 0px 4px 16px -2px;

    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;

    transition: 0.5s;
}

.largeScrollTittle {
    height: 100%;
    min-width: 96px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Engravers Old English;
    font-size: 20px;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -4px;

    cursor: pointer;

    transition: 0.3s;
}

.largeScrollTittle h2::first-letter {
    font-size: 1.25em;
    color: red;
    text-transform: uppercase;
}

.largeScrollTittle:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.largeScroll.active {
    height: 100%;
    width: 100%;
    background-color: aqua;
    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;

    transition: 0.5s ease;
}

.largeScrollContent {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#largeScrollCharacterContent {
    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;
}

#largeScrollCharacterContentColumn1, #largeScrollCharacterContentColumn2 {
    height: 100%;
    width: 50%;
    padding: 16px;

    display: flex;
    flex-flow: column nowrap;
}

.characterContentTittle {
    margin-bottom: 16px;

    font-family: Engravers Old English;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;

    cursor: default;
}

.characterContentTittle::first-letter {
    font-size: 1.25em;
    color: red;
    text-transform: uppercase;
}

#characterInfos ul {
    width: 100%;
    list-style: none;

    font-family: Engravers Old English;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

#characterInfos ul li {
    margin-bottom: 12px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    cursor: default;
}

#characterResistances ul {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    list-style: none;

    font-family: Engravers Old English;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

#characterResistances ul li {
    margin-bottom: 8px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    cursor: default;
}

.largeScroll.hidden {
    max-width: 0;
}



#auxiliar {
    height: 100%;
    width: 40%;
    background-color: red;
}



#smallScrolls {
    height: 10%;
    width: 100%;
    background-color: green;

    position: fixed;
    bottom: 0;
    z-index: 1;

    display: flex;
    flex-flow: row nowap;
    justify-content: space-around;
    align-items: center;
}

.smallScroll {
    height: 40px;
    width: 17.5%;
    background-color: chartreuse;
    box-shadow: 0px 4px 16px -2px;
    
    display: flex;
    justify-content: top;

    transition: 0.5s ease;
}

.smallScrollTittle {
    min-height: 40px;
    max-height: 40%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Engravers Old English;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;

    cursor: pointer;

    transition: 0.3s;
}

.smallScrollTittle h2::first-letter {
    font-size: 1.25em;
    color: red;
    text-transform: uppercase;
}

.smallScrollTittle:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.smallScroll.active {
    height: 70vh;
    background-color: chartreuse;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;

    transform: translateY(-212px);
    transition: 0.5s ease;
}

.smallScroll.active .smallScrollContent {
    height: 100%;
    width: 100%;
    background-color: #fff;
}